
#contacto {
  clear: both;
  margin-bottom: 50px;
}

#contacto .cita {
  padding-top: 10px;
  font-weight: 400;
  color: $color2;
}

#contacto input[type="text"],
input[type="tel"],
input[type="email"],
input[type="datetime-local"],
select {
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 0 0 20px;
}

#contacto input[type="submit"] {
  padding: 10px 20px;
  float: right;
  background-color: $color4;
  color: $color2;
  border: none;
}

.contenido-contacto {
  display: flex;
  justify-content: space-between;
}
