@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,700;0,800;1,400&display=swap");


$color1: #000 ;
$color2: #fff;
$color3: #3d0958;
$color4: #5c1e85;

$color_complementario1: #ec00f9;


@import 'header';
@import 'slideshow';
@import 'acerca';
@import 'portafolio';
@import 'contacto';
@import 'footer';
@import 'responsive';


@if $color1== #000{
    $color2: #fff;
}@else if $color1== #fff{
  $color2: #000;
}@else {
  $color1: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  color: $color2 !important;
}

.botonup--flechaup {
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-color: $color2;
  border-radius: 10px;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonup__icono--atributos {
  padding: 5px;
  fill: $color1;
  width: 50px;
  height: 50px;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #212f3d; */
  background-color: $color1 !important;
  color: $color2 !important;
  margin: 0;
  padding: 0;
}

main h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 3rem;
}
main section {
  margin: 20px 0;
  clear: both;
}



h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  text-transform: uppercase;
}


.importante {
  background-color: purple;
}
