@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,700;0,800;1,400&display=swap");


$color1: #000 ;
$color2: #fff;
$color3: #3d0958;
$color4: #5c1e85;

$color_complementario1: #ec00f9;


@import 'header';

@if $color1== #000{
    $color2: #fff;
}@else if $color1== #fff{
  $color2: #000;
}@else {
  $color1: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  color: $color2 !important;
}

.botonup--flechaup {
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-color: $color2;
  border-radius: 10px;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonup__icono--atributos {
  padding: 5px;
  fill: $color1;
  width: 50px;
  height: 50px;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #212f3d; */
  background-color: $color1 !important;
  color: $color2 !important;
  margin: 0;
  padding: 0;
}

header {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  padding: 1.25em 0;
  box-shadow: 0px 12px 39px -1px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
  position: absolute;
  color: $color2;
}

.nav-link {
  color: $color2 !important;
}

/* SlideShow */
#slideShow {
  position: relative;
  top: 0;
}
#slideShow video {
  width: 100%;
}
#slideShow video::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.slideShow__barra--degradado {
  bottom: 6px;
  width: 100%;
  height: 150px;
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.textos {
  width: 80%;
  margin: auto;
}
.textoPresentacion {
  position: absolute;
  top: 35%;
  color: white;
  margin: auto;
}
.textoPresentacion div {
  font-size: 7vw;
  width: 50%;
  font-weight: 500;
  line-height: 1;
  z-index: 10;
}

/* END SlideShow */

main h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 3rem;
}

/*  */
#acerca-de-mi {
  display: flex;
  /* flex-wrap: wrap; */
}

#acerca-de-mi p {
  text-align: justify;
  padding-left: 20px;
}

.cliente__contenedor--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.cliente__logo--cliente {
  width: 180px;
  margin: 12px;

  /* float: left;
  padding: 5px; */
}

.experencia__contenedor {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.experiencia__modulo-atributos {
  /* float: left; */
  text-align: center;
  /* width: 33.33%; */
  margin: 40px 0;
}
#tecnologia {
  margin: 20px 0;
  clear: both;
}
#tecnologia .img-tech {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.img-tech img {
  width: 70px;
}
.img-tech div:hover {
  transform: scale(1.2);
}
.img-tech div {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  text-align: center;
  transition: all 1s ease-in-out;
}
.img-tech div p {
  padding: 20px 0;
}

#portafolio {
  clear: both;
  margin: 20px 0;
  h2 {
    clear: both;
    margin: 40px 0;
  }
  .portafolio__menu--portafolio {
    text-align: center;
    margin-bottom: 50px;
  }
  .portafolio__opcion-menu-portafolio {
    display: inline-block;
    margin: 0 20px;
    padding: 15px;
    transition: all 1s ease-in-out;
  }
  .portafolio__opcion-menu-portafolio:hover {
    background: $color2;
    color: $color1;
    cursor: pointer;
  }
  .vitrina__contenedor--mostrador {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 5px;
    overflow: hidden;
    .vitrina__imagen--portafolio {
      position: relative;
      overflow: hidden;
      clear: both;
      width: 100%;
      height: 100%;
    
      img {
        width: 100%;
      }
      img::before {
        background-color: $color3;
      }
    
      h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        text-align: center;
      }
    }
  }
}

main section {
  margin: 20px 0;
  clear: both;
}

#contacto {
  clear: both;
  margin-bottom: 50px;
}

#contacto input[type="text"],
input[type="tel"],
input[type="email"],
input[type="datetime-local"],
select {
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
}

#contacto input[type="submit"] {
  padding: 10px 20px;
}

.contenido-contacto {
  display: flex;
  justify-content: space-between;
}

footer {
  /* clear: both;
  overflow: hidden;
  margin-top: 20px; */
  height: 100%;
}

footer .bloque1-footer {
  margin-top: 50px;
  overflow: hidden;
  background: linear-gradient(276deg, $color3, $color_complementario1);
  background-size: 400% 400%;
  -webkit-animation: degradado-footer 9s ease infinite;
  -moz-animation: degradado-footer 9s ease infinite;
  -o-animation: degradado-footer 9s ease infinite;
  animation: degradado-footer 9s ease infinite;
}
@-webkit-keyframes degradado-footer {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes degradado-footer {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-o-keyframes degradado-footer {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes degradado-footer {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

footer .bloque1-footer div {
  height: 100%;
  padding: 10px;
}

.bloque1-footer .logo {
  text-align: center;
  display: flex;
  align-items: center;
  /* line-height: 200px; */
  font-size: 2rem;
  justify-content: center;
}

.bloque2-footer {
  background-color: $color4;
}

.bloque2-footer p {
  text-align: center;
  margin-bottom: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  text-transform: uppercase;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}
th {
  color: $color2;
  background-color: red;
  padding: 15px;
  font-size: 2.5rem;
}

table td {
  padding: 10px;
}

.importante {
  background-color: purple;
}

@media screen and (max-width: 768px) {
  #acerca-de-mi {
    flex-direction: column;
  }
  #acerca-de-mi p {
    padding: 0;
  }
}
